<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<form [formGroup]="registerForm">

		<ion-item>
			<ion-label stacked>Username</ion-label>
			<ion-label stacked><error-messages [control]="registerForm.controls.username" [customErrors]="usernameErrors"></error-messages></ion-label>
			<ion-input formControlName="username" type="text" required></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Email</ion-label>
			<ion-label stacked><error-messages [control]="registerForm.controls.email" [customErrors]="emailErrors"></error-messages></ion-label>
			<ion-input formControlName="email" type="email" required></ion-input>
		</ion-item>

		<ion-item>
			<ion-label stacked>Password</ion-label>
			<ion-label stacked><error-messages [control]="registerForm.controls.password" [customErrors]="passwordErrors"></error-messages></ion-label>
			<ion-input formControlName="password" type="password" required></ion-input>
		</ion-item>

	</form>

</ion-content>
